
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body{

    font-family: "Josefin Sans", sans-serif;
    background-color: #f18aa0;
    color :white
}
header{
    width: 100%;
    padding: 10px 10px ;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 5px #00000077;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu2 {
    width: 2%;
    margin: 0 2%;
}

.logo{
    display: block;
    width: 15%;
    margin: 3% auto;
    filter: drop-shadow(3px 3px 1px black);

}
header h1 {
    font-size: 1.6rem;
    line-height: 1.4rem;
}
h2{
    font-size: 1.6rem;
    text-align: center;
}
.botão{
    background-color: #BE5E72;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5% 20%;
    padding: 3%;
    text-align: center;
}
#botãocadastro{
    background-color:#DD8B9D;
}
h3{
    font-size: 0.9rem; 
    text-align: center;
    line-height: 1.1rem;
}
.suporte{
    color: #a64c5e;
    font-size: 0.9rem; 
    text-align: center;
    line-height: 1.1rem;
    display: block;
}
.botão a{
    display: block;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
.bi-arrow-right {
    margin-right: 8%;
}
.titulo{
    text-align: center;
    color: #a64c5e;
    font-size: 3rem;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.7);
}
.cas{
    display: block;
    width: 10%;
    margin: 3% auto;
    filter: drop-shadow(3px 3px 1px black);

}
.campo_e-mail{
    background-color: #BE5E72;
    display: block;
    padding: 2%;
    font-size: 1.5em;
    width: 75%;
    margin: 2% auto;
    border-radius: 10px;
    line-height: 1.5em;
}
label{
    display: block;
    font-size:1.2em ;
    margin: 2% 15%;
}
.botão_entrar{
    background-color: #DD8B9D;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10% auto;
    padding: 2%;
    text-align: center;
    width: 40%;
    font-size: 1.5em;
    line-height:1.8em;
    color: white;
    display: block;
}
.link_termos{
    font-size:1.5em ;
    text-align: center;
    color: #BE5E72;
    text-decoration: none;
    display: block;
    margin: 1%;
}
.esqueceu{
    font-size: 1.5em;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    margin: 1%;
}

.btn_logar {
    width: 1%;
    
}

.img-google {
    width: 2%;
    margin-left: 35%;
}

.google{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 1px;
    margin: 1% auto;
    padding: 1%;
    text-align: center;
    width: 40%;
    font-size: 1.5em;
    line-height:1.8em;
    color: #BE5E72;
    display: block;
}

