@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f18aa0;
    color :white;
    font-size: 18px;
    width: 100%;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-items: stretch;
}

header{
    width: 100%;
    padding: 3vmin 4%;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 5px #00000077;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.cabecalho_titulos {
    width: 60%;
}

h1.titulo{
    font-size: 1.8em;
    font-size: 2em;
    color: white;
    text-align: left;
}

.icone_menu {
    width: 15%;
    margin: 0 2%;
}

main{
    flex-grow: 2;
}

.logo{
    display: block;
    width: 30%;
    margin: 3% auto;
    filter: drop-shadow(3px 3px 1px black);
}

h2.secao_titulo{
    font-size: 1.6rem;
    text-align: center;
    margin: 3vmin;    
}

.rodape {
    border-top: 1px solid black;
    box-shadow: 0px -2px 5px #00000077;
    align-self: flex-end;
    font-size: 0.9em;
    text-align: center;
    padding: 2vmin;
    width: 100%;
}

.rodape > p.rodape_paragrafo {
    line-height: 1.2em;
    color: #FFE9FF;
}

.cart {
    width: 10%;
}

.main_cart {
    background-color: #DD8B9D;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

#selecao {
    width: 100%;
    
}

.junior {
    margin: 5%;
    background-color: #FFA4B7;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    align-items: center;
}

.junior > h1 {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: normal;
    margin: 3%;
}

.carros {
    width: 20%;
    margin: 1%;
}

.carros1 {
    width: 30%;
    border-radius: 10px;
}
.carrinho_item{
    display: grid;
    grid-template-columns: 2% 96%;
    vertical-align: middle;
}

.icones {
    display: flex;
   width: 5%;
   justify-content: space-between;
   align-self: flex-end;
   margin: 2% 2% 2% auto;
}

section {
    margin-left: 1%;
}

.pqp {
    margin-left: 1%;
}

a {
    text-decoration: none;
}

.comprafinal {
    font-size: 1.5rem;
    background-color: #BE5E72;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    margin-left: 75%;
    margin-bottom: 1%;
    width: 20%;
}

.ninico {
    background-color: #FFA4B7;
    font-size: 1.5rem;
    margin-left: 1%;
    padding: 0 1%;
    color: white;
    border: 3px black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.fdsava {
    background-color: #BE5E72;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    width: 30%;
    font-size: 1.5rem;
    height: 8%;
    margin-left: 1%;
}